body {
  background: #0f0f14;
  color: #eaeaea;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* Şifre alanı */
input {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #ffb347;
  color: #0f0f14;
  font-weight: bold;
}

/* Fanus */
#capsuleScreen{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.fanus{
  position:relative;
  width:260px;
  height:320px;
  border-radius:50% / 45%;
  background:rgba(255,255,255,0.08);
  border:2px solid rgba(255,255,255,0.25);
  box-shadow: inset 0 0 40px rgba(255,255,255,0.2);
  overflow:hidden;
}

/* Gül */
.rose {
  font-size: 130px;   /* büyüttük */
  position: absolute;
  bottom: 90px;       /* ortalamaya aldık */
  filter: drop-shadow(0 0 25px rgba(255,0,0,0.8));
}

/* Yaprak */
.petal{
  position:absolute;
  width:18px;
  height:25px;
  background:#b30000;
  border-radius:50%;
  left:50%;
  transform:translateX(-50%);
}

/* Eski düşmüş yaprak */
.fallen-static{
  top:260px;
  opacity:0.2;
}

/* Günün yaprağı animasyonu */
.fall-animate{
  animation: petalFall 3s linear forwards;
}

@keyframes petalFall{
  0%{
    top:-40px;
    transform:translateX(-50%) rotate(0deg);
  }
  100%{
    top:260px;
    transform:translateX(-50%) rotate(180deg);
    opacity:0;
  }
}


/* Fanus açılma */
.glass-open {
  animation: glassUp 1.5s forwards;
}

@keyframes glassUp {
  to {
    transform: translateY(-300px);
    opacity: 0;
  }
}

/* Mesaj */
#message {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 2s;
  max-width: 400px;
}
#lightEffect{
  position:fixed;
  inset:0;
  background: radial-gradient(circle at center,
  rgba(255,220,150,0.9),
  rgba(255,220,150,0.4),
  transparent 70%);
  opacity:0;
  pointer-events:none;
}

.light-on{
  animation: glow 7s ease-out forwards;
}

@keyframes glow{
  0%{opacity:0;}
  20%{opacity:1;}
  100%{opacity:0;}
}

