body {
  background: #0f0f14;
  color: #eaeaea;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* Şifre alanı */
input {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #ffb347;
  color: #0f0f14;
  font-weight: bold;
}

/* Fanus */
.fanus {
  position: relative;
  width: 300px;
  height: 380px;
  border-radius: 50% / 45%;
  background: rgba(255,255,255,0.08);
  border: 2px solid rgba(255,255,255,0.25);
  box-shadow: inset 0 0 40px rgba(255,255,255,0.02);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Gül */
.rose {
  font-size: 130px;   /* büyüttük */
  position: absolute;
  bottom: 90px;       /* ortalamaya aldık */
  filter: drop-shadow(0 0 25px rgba(255,0,0,0.8));
}

/* Yaprak */
.petal {
  position: absolute;
  width: 10px;
  height: 18px;
  background: crimson;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

/* Eski düşmüş yaprak */
.fallen-static {
  transform: translateY(200px);
  opacity: 0.2;
}

/* Günün yaprağı animasyon */
.fall-animate {
  animation: fall 2s forwards;
}

@keyframes fall {
  to {
    transform: translateY(200px) rotate(90deg);
    opacity: 0;
  }
}

/* Fanus açılma */
.glass-open {
  animation: glassUp 1.5s forwards;
}

@keyframes glassUp {
  to {
    transform: translateY(-300px);
    opacity: 0;
  }
}

/* Mesaj */
#message {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 2s;
  max-width: 400px;
}

